* {
  
}
canvas{
  width:100%;
  height: 100%;
}
body {
  background-color: black;
  overflow: hidden;
  margin: 10px;

}
#info{
  color: black;
  left: 20%;
  top: 10%;
  width:50%;
  z-index: 10;
  height: 80%;
  background-color: #ffffffc9;
  position: absolute;
  border: 3px gray solid;
  border-radius: 25px;
  padding: 5px;
  overflow-y: scroll;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
  font-size:small;
}
h1{
  font-size: 25px;
}
